html
	head
		+mobile_meta()
		meta(name="keywords", content=site.configs.keywords.escaped)
		meta(name="description", content=site.configs.description.escaped or site.configs.sub_title.escaped)
		block title
			title= request.args.s or post.title or tags.join('+') or category.title or site.title
		+h.load('/template/static/basic.css  /template/static/style.css')
	body
		header
			.header_wrapper
				h1.sitetitle
					a(href='/',title=raw_content)=site.title
				nav
					ul
						li
							a(href="/") Home
						li
							a(href='/archive') Archive
						if site.tags
							li
								a(href='/tags') Tags
						pages = get_data(type="post", status="page", limit=3,with_page=False)
						for page in pages
							li
								a(href='/'+page.url_path)= page.title
						li
							a(href="/feed") RSS
		#container
			block content
		footer
			p
				span= '&copy; %s '%site.now.year
					a(href="/", title=site.title)= site.title
				span= "Powered By "
					a(rel="nofollow", target="_blank", href="https://bitcron.com/?s=f")= 'Bircorn.com'
				span= "Design by "
					a(rel="nofollow", target="_blank", href="https://github.com/imsuwj/bitcron-mixedpaper")= 'WayJam' 
				span(style="position:absolute;right:2px;")
					a(target="_blank", href="https://www.upyun.com/", title="又拍云提供CDN支持")
						img(src= "//wayjam-blog.b0.upaiyun.com/upyun_logo6.png",style='height:50px;')
			