if post.status != 'public'
	+request.redirect(post.url_path)
extends base
block title
	title= post.title + " - " + site.title
block content
	.detail
		article.post
			.content
				h2.title= post.title
				.post_body= post.content
				.info
					span.date
						span= post.date.format('%Y-%m-%d %H:%M')
					ul.tags
						if post.tags
							for tag in post.tags
								li
									a(href="/tag/{{tag}}")= tag
			.other_posts.clearfix
				span.prev
					if posts.previous_one
						a(href='{{posts.previous_one.url}}')= "&laquo;" +  posts.previous_one.title
				span.next
					if posts.next_one
						a(href='{{posts.next_one.url}}')=  posts.next_one.title  + "&raquo;"
				.clearfix
		include include/comments.jade
